name: Build Toolchain

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ARCH: [i386, x86_64]
        OSVERSION: [5, 6, 7, 8, 9, 10, 11, 12, 13]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Toolchain
        run: |
          chmod +x make_toolchain.sh
          ./make_toolchain.sh
        env:
          ARCH: ${{ matrix.ARCH }}
          OSVERSION: ${{ matrix.OSVERSION }}

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: '${{ matrix.ARCH }}-freebsd${{ matrix.OSVERSION }}'
          path: '${{ matrix.ARCH }}-freebsd${{ matrix.OSVERSION }}.tar.gz'
